body{
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  iframe {
 height:210px;
 
  }
.colormm{
  padding-top: 110px;
}
.fixmm{
  position: fixed;
  z-index: 1000;
  padding-left: 0px;
  padding-right: 0px;
  
}



  .navbar{
    padding: 0px!important;
  }
  }

h2{
    font-family: 'Merriweather', serif;
}

.bg-light {
  background-color: #fff!important;
}

.nav-link{
    font-size: 16px;
    color:#222222 !important;
  }
  
  .nav-link:hover{
    font-size: 16px;
    color:#ef0300 !important;
    
  }

  a.nav-link.active{
    color:#898989 !important;
  }
  
  .colormm{
    background-color: #222222; 
    color:#fff; 
    text-align: center;
  }

  .picto{
    display: inline-block;
  }

  .rougemm {
    color:#ef0300;
  }

  #bandemm{
    margin-top: 20px;
  }

.fondmm{
  color: #898989;
background-color: #f1f1f1;
padding-top: 30px;
margin-top:20px;
}



.bmm{
  color:#222222;
}


.alimm{
  text-align: center;
}

.nav-foot{
  font-size: 16px;
  color:#222222 !important;
}

.nav-foot:hover{
  font-size: 16px;
  color:#ef0300 !important;
  
}

a.nav-foot.active{
  color:#898989 !important;
}


